body{
    background-color: #111A28;
}
.grid-system{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
}

.grid {
    cursor: pointer;
    text-align: center;
    border: 2px solid #00CF5D;
    font-size: 22px;
    color: #fff;
}

.input-box {
    grid-column-start: 1;
    grid-column-end: 5;
}
.grid-2 {
    grid-column-start: 3;
    grid-column-end: 5;
}